# Devbox Support
dotenv_if_exists .env

# This script checks if devbox is available, generates direnv configuration, and exits if successful
if has devbox; then
  eval "$(devbox generate direnv --print-envrc)"
  exit 0
else
  echo "Devbox is not installed. Please install it to proceed."
  exit 1
fi