name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/first-interaction@v1.1.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: 'Hello @${{ github.actor }} , thank you for submitting an issue!'
          pr-message: 'Hello @${{ github.actor }} , thank you submitting a pull request!'
